body {
    margin: 0;
    padding: 0;
    background: white;
    
}
.titles{
    color: white;
    border-radius: 5px;
}
h2 { 
    color: #000000; 
}
h3{ 
    color: #000000; 
}
h4{ 
    color: #000000; 
}
p{
    color: #000000; 
}
li{
    color: #000000; 
}
.section-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        &.active {
            background-color: rgb(182, 182, 182) ; 
        }
    }
    h2{
        color: rgb(0, 0, 0);
    }
}


@media (max-width: 850px) {
    .section-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px 10px 0px 0px;
        button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            &.active {
                background-color: rgb(182, 182, 182) ; 
            }
        }
        h2{
            color: rgb(0, 0, 0);
        }
    }
  }

.body-terms{
    margin: 20px;
    border-radius: 5px;
}
.section-content {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5b5b5;
    border-radius: 0px 0px 10px 10px;
}
  
