html,
body {
  margin: 0;
  padding: 0;
}

.contentLogin {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  @media (max-width: 850px) {
    margin-top: 15vw;
  }
  h2 {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    @media (max-width: 850px) {
      font-size: 3.5vw;
    }
  }
  .Logo {
    width: 100%;
    display: flex;
    justify-content: center;
    .fullHouseLogo {
      width: 350px;
      height: auto;
      @media (max-width: 850px) {
        height: 25vw;
        width: auto;
      }
    }
  }
  .inputs-box {
    display: flex;
    justify-content: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
    .sign-up {
      font-size: smaller;
      justify-self: center;
      margin-top: 15px;
      color: white;
      background-color: black;
      &:hover {
        background-color: rgb(24, 59, 134);
      }
    }
  }
}
