.footer {
  background-color: black;
  width: 100%;
  height: max-content;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  

  .footer-container {
    .css-zow5z4-MuiGrid-root > .MuiGrid-item {
      padding: 0%;
    }
    .direction-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      font-variant: all-petite-caps;
      font-size: large;
      align-items: center;
      margin: 0px 20px 0px 20px;
      padding-left: 30px;
      .direction {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        h5 {
          margin-top: auto;
          color: rgb(156, 158, 160);
        }
        .location-icon {
          width: 24px;
          height: 24px;
          margin-right: 10px;
          margin-top: -4px;
        }
      }
    }
    .social-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      font-variant: all-petite-caps;
      font-size: large;
      align-items: center;
      margin: 0px 20px 0px 20px;
      .icons-social {
        display: flex;
      }
    }
    h2 {
      color: white;
    }
    ul {
      margin-top: 0px;
      padding-left: 0px;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        a {
          color: rgb(156, 158, 160);
          margin-top: auto;
        }
        .IG-icon {
          width: 30px;
          height: 30px;
        }
        .TK-icon {
          width: 20px;
          height: 20px;
        }
        .WP-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
    h2 {
      .social-icons {
        h3 {
          color: white;
          display: flex;
        }
      }
    }
    .privacy-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      font-variant: all-petite-caps;
      font-size: large;
      align-items: center;
      margin: 0px 20px 0px 20px;
      h2 {
        text-align: center;
      }
      .button-privacy{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .button-politics {
          color: white;
          background-color: #616161;
        }
      }
      
    }
    .hours-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      font-variant: all-petite-caps;
      font-size: large;
      align-items: center;
      margin: 0px 20px 0px 20px;
      h4{
        color: white;
        margin-bottom: 5px;
      }
      p{
        margin: 0px;
        color: rgb(156, 158, 160);
        font-size: small;
      }
    }
  }
  .logo{
    display: flex;
    justify-content: center;
    img{
      max-width: 70px;
        height: auto;
        margin-right: 3%;
    }
  }
  
}
