.containerproducts{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slick-prev2{
    background-color: white;
    position: relative;
    border: 0px;
    top: 595px;
    left: 220px;
    cursor: pointer;
    z-index: 1000; 
}
.slick-next2{
    background-color: white;
    position: relative;
    border: 0px;
    top: 130px;
    left: 966px;
    cursor: pointer;
    z-index: 1000; 
}
