html,
body {
    margin: 0;
    padding: 0;
}

.register-page-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 20vw;
    padding-top: 8vw;
    align-items: center;

    @media (max-width: 850px) {
        flex-direction: column;
        display: grid;
    }

    margin-top: 5vw;

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: auto;
        h2{
            margin-bottom: 0px;
        }
        h5{
            margin-top: 0px;
            color: grey;
        }

        .full-house-logo {
            width: 350px;
            height: auto;

            @media (max-width: 850px) {
                height: 25vw;
                width: auto;
            }
        }
    }
}